<h3>Create Account</h3>

<h3>Welcome to StyleX!  We're glad you're here!</h3>

<p><b>To get started, please provide the following information</b></p>

<%=render 'form'%>

<%=link_to "Home", home_path%>